.category-search{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.category-search-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

.category-search-list > div{
    display: flex;
    flex-direction: column;
    background-color: rgba(217,217,217,0.51);
    padding: 8px;
    border-radius: 20px;
    margin-left: 1%;
}

.category-search-main-tittle{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 40px;
}

.category-search-shop-button{
    justify-content: center;
}

.category-search-shop-button{
    display: flex;
    justify-content: center;
}

.category-search-shop-button > button{
    background-color: rgba(112,244,121,0.53);
    font-family: "Istok Web", sans-serif;
    font-weight: bold;
    border: none;
    font-size: 100%;
    width: 150px;
    height: 45px;
    margin:  20px;
}