.why-use-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    margin-right: 8%;
}

.why-use-tittle{
    display: flex;
    justify-content: center;
}

.why-use-content > div> div > img{
    width: 40%;
    height: 40%;
}

.tree-rental-img > img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
}