<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="category-search-ad-box">
    <div class="category-ad-image">
      <div class="category-ad-image-box">
        <img src="../assets/category-section/Ric&Curry.jpg">
      </div>
      <div class="category-ad-option">
        <img src="../assets/category-section/shopping-cart%20(1).png" style="width: 30px">
        <img src="../assets/category-section/heart.png" style="width: 30px">
        <img src="../assets/category-section/view-more.png">
      </div>
    </div>
    <div class="category-ad-detail">
      <div class="product-name">Home made rice & curry</div>
      <div class="producer-name">By Raveen wickramaarachchi</div>
      <div class="price">
        <span class="current-price">Rs. 300.00</span>
        <span class="old-price">Rs. 330.00</span>
      </div>
      <div class="rating"  style="margin-top: 2px">
        <span class="star-icon"><img src="../assets/category-section/rating.png"></span>
        <span class="star-icon"><img src="../assets/category-section/rating.png"></span>
        <span class="star-icon"><img src="../assets/category-section/rating.png"></span>
        <span class="star-icon"><img src="../assets/category-section/rating.png"></span>
        <span class="star-icon"><img src="../assets/category-section/rating.png"></span>
        <span class="star-icon">(50)</span>
      </div>
      <div class="category-ad-button">
        <button class="">Buy Now</button>
      </div>
    </div>
  </div>
</body>
</html>