<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div class="footer">
      <div></div>
      <div class="footer-content">
        <span class="footer-logo">
          <img src="../../assets/logo-footer.png" />
          <div>
            <div class="footer-logo-tittle">Piyawara</div>
            <div class="footer-logo-sub-tittle">Where Your Own Market</div>
          </div>
        </span>
        <div class="footer-company">
          <div class="footer-tittle">Company</div>
          <span>About Us</span>
          <span>Terms & Conditions</span>
          <span>Privacy Policy</span>
          <span>Help</span>
          <span>FAQ</span>
        </div>
        <div class="footer-account">
          <div class="footer-tittle">Account</div>
          <span>Sign In</span>
          <span>Sign Up</span>
          <span>My Wishlist</span>
          <span>View My Cart Items</span>
          <span>Shipping Details</span>
        </div>
        <div class="footer-category">
          <div class="footer-tittle">Category</div>
          <span>Food & Meals</span>
          <span>Fresh Fruits, Vegetable </span>
          <span>and flowers</span>
          <span>Creative crafts and </span>
          <span>Tailoring Items</span>
          <span>Herbal & Medicinal Items</span>
        </div>
        <div class="footer-contact">
          <div class="footer-tittle">Contact Us</div>
          <span class="footer-contact-info">
            <img src="../assets/footer-section/email.png" />
            <div>piyawara@gimal.com</div>
          </span>
          <span class="footer-contact-info">
            <img src="../assets/footer-section/call.png" />
            <div>+94-70 480 5683(Sri Lanka)</div>
          </span>
        </div>
      </div>
      <div class="footer-bottom">
        <div>Copyright © 2025 Piyawara | All Right Reserved</div>
        <div>
          <span><img src="../assets/footer-section/facebook.png" /></span>
          <span><img src="../assets/footer-section/instagram.png" /></span>
          <span><img src="../assets/footer-section/linkedin.png" /></span>
          <span><img src="../assets/footer-section/twitter.png" /></span>
        </div>
      </div>
    </div>
  </body>
</html>
