<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ad-box">
    <div class="ad-image">
        <img src="../assets/category-section/Ric&Curry.jpg">
    </div>
    <div class="ad-detail">
        <div class="ad-option">
            <div class="discount">
                <div>save</div>
                <div>
                    Rs.30.00
                </div>
            </div>

            <div style="display: flex; flex-direction: row;">
                <div><img src="../assets/header-icons/heart.png" class="ad-option-img"></div>
                <div><img src="../assets/header-icons/addToCart.png" class="ad-option-img"></div>
            </div>
        </div>
        <div>
            <div>
                <div class="product-name">Home made rice & curry</div>
                <div class="producer-name">By Raveen wickramaarachchi</div>
                <div class="price">
                    <span class="current-price">Rs. 300.00</span>
                    <span class="old-price">Rs. 330.00</span>
                </div>
            </div>
        </div>
        <div class="ad-buttons">
            <button class="btn-veiw-ad">
                View
            </button>
            <button  class="btn-buy-ad">
                Buy
            </button>
        </div>
    </div>
</div>
</body>
</html>